{{ 'vuevu.css' | asset_url | stylesheet_tag }}


<h1>Đây là promotion đến từ sesstion</h1>

<section class="image-all">
    <div class="-item">
        <img src="https://cdn.shopify.com/s/files/1/0908/4819/8963/files/gratisography-cool-cat-800x525.jpg?v=1730385670">
        <p>Description image 1</p>
    </div>

    <div class="-item">
        <img src="https://cdn.shopify.com/s/files/1/0908/4819/8963/files/gratisography-cool-cat-800x525.jpg?v=1730385670">
        <p>Description image 1</p>
    </div>

    <div class="-item">
        <img src="https://cdn.shopify.com/s/files/1/0908/4819/8963/files/gratisography-cool-cat-800x525.jpg?v=1730385670">
        <p>Description image 1</p>
    </div>

    <div class="-item">
        <img src="https://cdn.shopify.com/s/files/1/0908/4819/8963/files/gratisography-cool-cat-800x525.jpg?v=1730385670">
        <p>Description image 1</p>
    </div>
    <div class="-item5">
        <img src="https://cdn.shopify.com/s/files/1/0908/4819/8963/files/gratisography-cool-cat-800x525.jpg?v=1730385670">
        <p>Description image 1</p>
    </div>
    <div class="-item">
        <img src="https://cdn.shopify.com/s/files/1/0908/4819/8963/files/gratisography-cool-cat-800x525.jpg?v=1730385670">
        <p>Description image 1</p>
    </div>
    <div class="-item">
        <img src="https://cdn.shopify.com/s/files/1/0908/4819/8963/files/gratisography-cool-cat-800x525.jpg?v=1730385670">
        <p>Description image 1</p>
    </div>
    <div class="-item8">
        <img src="https://cdn.shopify.com/s/files/1/0908/4819/8963/files/gratisography-cool-cat-800x525.jpg?v=1730385670">
        <p>Description image 1</p>
    </div>

</section>

{% schema %}
{
    "name": "VueVu",

    "settings": [],
    "presets": [
        {
        "name": "VueVu",
        }
    ]
}

{% endschema %}